* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.dark-text {
    color: #7fd082;
}

.bright-text {
    color: #c7c6c3;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: #022f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO AREA */
.logo-area {
    text-align: center;
    color: white;
}

.logo-area img {
    width: 100px;
    margin-bottom: 20px;
}

.logo-area h1 {
     font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
}

/* DIVIDER LINE */
.divider {
    width: 2px;
    background: #ccc;
    height: 60%;
    margin: auto 0;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    background: #022f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN BOX */
.login-box {
    width: 320px;
    color: white;
    text-align: left;
}

.login-box h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.login-box p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}

/* INPUT FIELDS */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #eaeaea;
}

/* BUTTON */
.login-box button {
    width: 100%;
    padding: 12px;
    background: #ff6a00;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: #e65c00;
}

/* ERROR */
.error {
    color: red;
    margin-bottom: 10px;
}

/* FORGOT TEXT */
.forgot {
    margin-top: 15px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}