body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #021f1f;
    color: #fff;
}

/* SIDEBAR 
.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #031b14, #062a20);
    position: fixed;
    padding: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.logo img {
    width: 40px;
}

.logo h2 {
    font-size: 16px;
    letter-spacing: 2px;
}

.logo span {
    color: #2ecc71;
}

/* MENU 
.menu a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover,
.menu .active {
    background: rgba(46, 204, 113, 0.15);
    color: #2ecc71;
}

/* MAIN */
.main {
    margin-left: 270px;
    padding: 30px;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #2ecc71;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
}

/*.logout-box {
    
    padding-top: 300px;
}

/* Logout button style 
.logout-box a {
    display: block;
    text-decoration: none;
    color: white;
    background: #e74c3c;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.logout-box a:hover {
    background: #c0392b;
}

/* TABLE */
.table-container {
    margin-top: 20px;
    background: #064232;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    background: #031b14;
}

table tr:nth-child(even) {
    background: rgba(255,255,255,0.05);
}

table tr:hover {
    background: rgba(46, 204, 113, 0.2);
}
/* SEARCH */
.search-box {
    margin: 15px 0;
}

.search-box input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

.search-box button {
    padding: 8px 12px;
    background: #2ecc71;
    border: none;
    color: white;
    border-radius: 5px;
}

/* BUTTONS */
.btn {
    padding: 5px 10px;
    background: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn.danger {
    background: red;
}

/* ACTIVE MENU */
.sidebar a.active {
    background: #2ecc71;
    color: white;
}